extends layout/main

block title
	title Блог

block content
	include layout/menu
	header.header.header_blog
		img.header__bg(src="./static/assets/img/bg.jpg")
		ul.social.social_fill_white.social_top
			each item in ["vk","github","in"]
				li(class="social__item social__item_" + item)
					a.social__link(href=`http://${item}.com` target="_blank")
						svg.social__icon
							use(xlink:href="./static/assets/sprite/sprite.svg#" + item)
		ul.burger-menu
			each item,i in [1,2,3]
				li.burger-menu__item
		.hero.hero_alone
			img(src="./static/assets/img/logo.png").hero__img
			h1.main-title.main-title_blog
				| Блог
				.main-title__descr Статьи, которые я написал
				.main-title__bg
					svg.main-title__svg.main-title__svg_blog
						use(xlink:href="./static/assets/sprite/sprite.svg#blog_header")
		svg.header__triangle(preserveaspectratio="none" viewBox="0 0 1000 109")
			polygon.header__polygon(points="0,0 0,109 500.8,109")
			polygon.header__polygon(points="1000,0 1000,109 500,109")
	section.blog
		.blog-menu
			.blog-menu__btn
			ul.blog-menu__list
				each item,i in articles
					li.blog-menu__item(class=(i == 0) ? "blog-menu__item_active" : "")
						a(href="#" ).blog-menu__link= item.title
		ul.blog-articles
			each item in articles
				li.blog-articles__item
					h2.subtitle.subtitle_decor_none.subtitile_blog= item.title
					.blog-articles__date= item.date
					.blog-articles__text= item.text
	footer.footer.footer_position_static
		.footer__top
			nav.menu.menu_footer
				ul.menu__list
					each item in menu
						li.menu__item
							a(href="/" + item.link).menu__link= item.text
			ul.social.social_fill_gray.social_footer
				each item in ["vk","github","in"]
					li(class="social__item social__item_" + item)
						a.social__link
							svg.social__icon
								use(xlink:href="./static/assets/sprite/sprite.svg#" + item)
		.footer__bottom
			.footer__info
				| Я веб-разработчик из Днепра и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
			.copyrights.copyrights_static &copy; Остапюк Алексей | создано с любовью в LoftSchool | 2016
