-
	var contacts = [
		{
			text: "skype_kdn", 
			icon: "skype"
		},
		{
			text: "+38 050 033 72 30", 
			icon: "phone"
		},
		{
			text: "gogunov00@gmail.com", 
			icon: "envelope"
		},
		{
			text: "Днепр, ул. Осенняя 9А", 
			icon: "map-marker"
		}
	]
-
	var menu = [
		{
			text:"Мои работы",
			link:"works"
		},
		{
			text:"Обо мне",
			link:"about"
		},
		{
			text:"Блог",
			link:"blog"
		},
		{
			text: "Авторизация",
			link: ""
		}
	]

-
	var comments = [
		{
			name: "Ковальчук Дмитрий",
			status: "основатель Loftschool",
			text: "Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!",
			img: 1 
		},
		{
			name: "Сабанцев Владимир",
			status: "преподаватель",
			text: "Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!",
			img: 2
		}
	]
