-
	var contacts = [
		{
			text: "skype_kdn", 
			icon: "skype"
		},
		{
			text: "+38 050 033 72 30", 
			icon: "phone"
		},
		{
			text: "gogunov00@gmail.com", 
			icon: "envelope"
		},
		{
			text: "Днепр, ул. Осенняя 9А", 
			icon: "map-marker"
		}
	]
-
//	var skills = [
//		{
//			title: "Frontend",
//			skills: [
//				{
//					name: "HTML5",
//					value: 90
//				},
//				{
//					name: "CSS3",
//					value: 85
//				},
//				{
//					name: "JavaScript & jQuery",
//					value: 85
//				}
//			]
//		},
//		{
//			title: "Backend",
//			skills: [
//				{
//					name: "PHP",
//					value: 45
//				},
//				{
//					name: "mySQL",
//					value: 55
//				},
//				{
//					name: "Node.js & npm",
//					value: 40
//				},
//				{
//					name: "Mongo.db",
//					value: 65
//				}
//			]
//		},
//		{
//			title: "WorkFlow",
//			skills: [
//				{
//					name: "Git",
//					value: 80
//				},
//				{
//					name: "Gulp",
//					value: 70
//				},
//				{
//					name: "Bower",
//					value: 65
//				}
//			]
//		}
//	]
-
	var menu = [
		{
			text:"Мои работы",
			link:"works"
		},
		{
			text:"Обо мне",
			link:"about"
		},
		{
			text:"Блог",
			link:"blog"
		},
		{
			text: "Авторизация",
			link: "index"
		}
	]

-
	var comments = [
		{
			name: "Ковальчук Дмитрий",
			status: "основатель Loftschool",
			text: "Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!",
			img: 1 
		},
		{
			name: "Сабанцев Владимир",
			status: "преподаватель",
			text: "Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!",
			img: 2
		}
	]

-
//	var stacks = [
//		{
//			title: "Frontend",
//			tech: ["Html","CSS","JavaScript"]
//		},
//		{
//			title: "Workflow",
//			tech: ["Git","Gulp","Webpack"]
//		},
//		{
//			title: "Backend",
//			tech: ["PHP","mySQL","Node.js","Mongo.db"]
//		},
//	]

-
//	var slider_info = [
//		{
//			title: "Сайт школы онлайн образования",
//			tech: "HTML5, CSS3, JavaScript",
//			img: "work-1.png"
//		},
//		{
//			title: "Сайт веб-студии ITLOFT",
//			tech: "HTML5, CSS3, JavaScript, Node.js, Mongo.db",
//			img: "work-2.png"
//		},
//		{
//			title: "Портал видеоуроков Loftblog",
//			tech: "HTML5, CSS3, JavaScript, Express, Node.js",
//			img: "work-3.png"
//		},
//		{
//			title: "Сайт онлайн занятий йогой",
//			tech: "HTML5, CSS3, JavaScript, PHP, SQL",
//			img: "work-4.png"
//		}
//	]
-
	var blog_titles = [
		"Самое важное в SASS", 
		"Приёмы в вёрстке, без которых не обходится ни один сайт", 
		"Самый необходимый набор Gulp плагинов", 
		"Почему я выбрал Jade",
		"Самое важное в SASS"
	]
